{% extends "tease.twig" %}

{% block content %}
    {% if post.thumbnail.src %}
        <div class="bg-size-[auto_100px] bg-no-repeat bg-center bg-[url(https://dogsandsorcerers.com/wp-content/uploads/2025/04/cropped-dogs-and-sorcerers-logo.png)] w-full h-[100px]"></div>
    {% else %}
        <div class="bg-size-[auto_100px] bg-no-repeat bg-center bg-[red] w-full h-[100px]"></div>
    {% endif %}
    <h2 class="h2"><a href="{{ post.link }}">{{ post.title }}</a></h2>
    <p>{{ post.excerpt({ words:5, read_more: "Keep reading" }) }}</p>
{% endblock %}
